* {
      margin: 0px;
      padding: 0px;
      box-sizing: border-box;
      font-family: Arial, sans-serif;
}

header {
      position: sticky;
      top: 0;
      width: 100%;
      height: 85px;
      background-color: #8341A2;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 80px;
      
}
    
header img {
    width: 170px;
    height: auto;
    object-fit: contain;
}

/* BOTONES DE NAVEGACION DE HEADER */
nav {
    display: flex;
    gap: 40px;
}

nav a{
    text-decoration: none;
    color:#f7f7f7;
    font-size: 14px;
    transition: 0.3s;

}

nav a:hover{
    color:#000
}


/* TEXTO BIENVENIDOS Y IMAGEN DE MASCOTAS */

.bienvenido{
    position: relative;
    text-align: center;
    color:#8341A2;
    font-weight: bold;
    font-size: 50px;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mascota{
    background-color: #EDEDED;

}

.mascota img{
    max-width: 100%;
    height: auto;
    display: block;
}