
/* ESTILOS CUSTOM PARA LOS RADIO, CHECKBOX, SWITCH*/
@supports(-webkit-appearance: none) or (-moz-appearance: none) {
  input[type='checkbox'],
  input[type='radio'] {
    --active: #8341A2;
    --active-inner: #fff;
    --focus: 2px rgba(39, 94, 254, .3);
    --border: #BBC1E1;
    --border-hover: #8341A2;
    --background: #fff;
    --disabled: #F6F8FF;
    --disabled-inner: #E1E6F9;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 21px;
    outline: none;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0;
    cursor: pointer;
    border: 1px solid var(--bc, var(--border));
    background: var(--b, var(--background));
    transition: background .3s, border-color .3s, box-shadow .2s;
    &:after {
      content: '';
      display: block;
      left: 0;
      top: 0;
      position: absolute;
      transition: transform var(--d-t, .3s) var(--d-t-e, ease), opacity var(--d-o, .2s);
    }
    &:checked {
      --b: var(--active);
      --bc: var(--active);
      --d-o: .3s;
      --d-t: .6s;
      --d-t-e: cubic-bezier(.2, .85, .32, 1.2);
    }
    &:disabled {
      --b: var(--disabled);
      cursor: not-allowed;
      opacity: .9;
      &:checked {
        --b: var(--disabled-inner);
        --bc: var(--border);
      }
      & + label {
        cursor: not-allowed;
      }
    }
    &:hover {
      &:not(:checked) {
        &:not(:disabled) {
          --bc: var(--border-hover);
        }
      }
    }
    &:focus {
      box-shadow: 0 0 0 var(--focus);
    }
    &:not(.switch) {
      width: 21px;
      &:after {
        opacity: var(--o, 0);
      }
      &:checked {
        --o: 1;
      }
    }
    & + label {
      font-size: 14px;
      line-height: 21px;
      display: inline-block;
      vertical-align: top;
      cursor: pointer;
      margin-left: 4px;
    }
  }
  input[type='checkbox'] {
    &:not(.switch) {
      border-radius: 7px;
      &:after {
        width: 5px;
        height: 9px;
        border: 2px solid var(--active-inner);
        border-top: 0;
        border-left: 0;
        left: 7px;
        top: 4px;
        transform: rotate(var(--r, 20deg));
      }
      &:checked {
        --r: 43deg;
      }
    }
    &.switch {
      width: 38px;
      border-radius: 11px;
      &:after {
        left: 2px;
        top: 2px;
        border-radius: 50%;
        width: 15px;
        height: 15px;
        background: var(--ab, var(--border));
        transform: translateX(var(--x, 0));
      }
      &:checked {
        --ab: var(--active-inner);
        --x: 17px;
      }
      &:disabled {
        &:not(:checked) {
          &:after {
            opacity: .6;
          }
        }
      }
    }
  }
  input[type='radio'] {
    border-radius: 50%;
    &:after {
      width: 19px;
      height: 19px;
      border-radius: 50%;
      background: var(--active-inner);
      opacity: 0;
      transform: scale(var(--s, .7));
    }
    &:checked {
      --s: .5;
    }
  }
}

/*ESTILO GENERAL*/

* {
      margin: 0px;
      padding: 0px;
      box-sizing: border-box;
      font-family: Arial, sans-serif;
}

header {
      position: sticky;
      top: 0;
      width: 100%;
      height: 85px;
      background-color: #8341A2;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 80px;
      
}
    
header img {
    width: 170px;
    height: auto;
    object-fit: contain;
}

/* BOTONES DE NAVEGACION DE HEADER */
nav {
    display: flex;
    gap: 40px;
}

nav a{
    text-decoration: none;
    color:#f7f7f7;
    font-size: 14px;
    transition: 0.3s;

}

nav a:hover{
    color:#000
}


/* TEXTO BIENVENIDOS Y IMAGEN DE MASCOTAS */

.bienvenido{
    position: relative;
    text-align: center;
    color:#8341A2;
    font-weight: bold;
    font-size: 50px;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mascota{
    background-color: #EDEDED;

}

.mascota img{
    max-width: 100%;
    height: auto;
    display: block;
}



/* ESTILO FORMULARIO DE MASCOTA*/

.header-form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 40px;
}

.mascota h1{
  color:#7c3bbd;
  font-size:42px;
  background-image: url(Imágenes/vineta-violeta.svg);
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 50px;
}

.mascota h3 {
  color:#7c3bbd
}

.btn-top{
  padding: 15px 30px;
  border: 2px solid #00a9c7;
  border-radius: 30px;
  background: none;
  color: #00a9c7;
}

.form-container {
  margin-left: 2%;
  margin-right: 2%;
  background: white;
  border-radius: 25px;
  padding: 40px;

}

.form-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

input[type=text], select {
  height: 50px;
  border: none;
  background: #f1f1f1;
  border-radius: 25px;
  padding: 0 20px;
  outline: none;
}

.radio-group{
  display: flex;
  gap: 20px;
  margin-top: 10px;
}

/*ESTILO DEL BOTON SELECT DE CARACTERISTICAS*/

select {
  appearance: base-select;
  align-content: center;
  padding-top: 1rem;

}

::picker(select) {
  appearance: base-select;
  border-radius: .5em;
  border: none;
  background-color: #EDEDED;
  
}

select::picker-icon {
  font-size: .7rem;
  align-content: center;
  transition: 150ms ease;
  
}

select:open::picker-icon {
  
  rotate: 180deg;
}


/*ESTILO DEL BOTON SUBIR ARCHIVOS*/

.file-box {
  background-color: #efefef;
  padding: 32px;
  border-radius: 20px;
}

input[type=file] {
  padding: 4px;
  margin: -4px;
  position: relative;
  outline: none;
}

input[type=file]::file-selector-button {
  border-radius: 4px;
  padding: 0 16px;
  height: 40px;
  cursor: pointer;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.16);
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
  margin-right: 16px;
  width: 132px;
  color: transparent;
}

@supports (-moz-appearance: none) {
  input[type=file]::file-selector-button {
    color: var(--primary-color);
  }
}
input[type=file]::file-selector-button:hover {
  background-color: #f3f4f6;
}
input[type=file]::file-selector-button:active {
  background-color: #e5e7eb;
}

input[type=file]::before {
  position: absolute;
  pointer-events: none;
  top: 14px;
  left: 16px;
  height: 20px;
  width: 20px;
  content: "";
  background-image: url(Imágenes/descarga.svg)
}

input[type=file]::after {
  position: absolute;
  pointer-events: none;
  top: 16px;
  left: 40px;
  color: var(--primary-color);
  content: "Subir Archivos";
}

input[type=file]:focus-within::file-selector-button, input[type=file]:focus::file-selector-button {
  outline: 2px solid var(--primary-color);
  outline-offset: 2px;
}

.campo {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 10px;
  font-weight: bold;
  color:#101424;
}

/*ESTILO BOTON DE GUARDAR*/

.btn-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 50px;
}

.btn-save {
  background-color: #00a9c7;
  color: white;
  border: none;
  padding: 20px 40px;
  border-radius: 40px;
  font-size: 16px;
  outline: none;
  transition: ease-out 0.3s;

  --background-color: #00a9c7;
  --border-size: px;
}

.btn-save:hover {
  box-shadow: inset 200px 0 0 0 #7c3bbd;
  cursor: pointer;
}


/*ESTILO FOOTER*/

footer {
  background-color: #EDEDED;

  background-image: url(Imágenes/footer-bg2.svg);
  background-size: cover;
  background-repeat: no-repeat;

  min-height: 600px;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 120px 20px 40px;
  color: white;
  padding: 80px 20px;

}

.footer-content {
  width: 100%;
  max-width: 900px;
  text-align: center;

}

footer h2 {
  font-size: 42px;
  margin-bottom: 20px;

  background-image: url(Imágenes/vineta-blanca.svg);
  background-repeat: no-repeat;
  background-position: center bottom;

  padding-bottom: 20px;
}

.footer-text {
  max-width: 600px;
  margin: 0 auto 60px;
  line-height: 1.8;

}

.contact-info {
  display: flex;
  justify-content: center;
  gap: 80px;
  margin-bottom: 60px;
}

.contact-item {
  display: flex;
  align-items: center;
  gap: 20px;

}

.contact-item img {
  width: 55px;
}

.contact-item h3 {
  margin-bottom: 5px;
}

.footer-line {
  width: 100%;
  height: 2px;
  background: white;

  opacity: 0.5;
  margin-bottom: 20px;
}

.copyright {
  font-size: 14px;
}